<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RareStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/harrypotter</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>harrypotter97</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CosServlet</display-name>
    <servlet-name>CosServlet</servlet-name>
    <servlet-class>CosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CosServlet</servlet-name>
    <url-pattern>/CosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EleServlet</display-name>
    <servlet-name>EleServlet</servlet-name>
    <servlet-class>EleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EleServlet</servlet-name>
    <url-pattern>/EleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet2</display-name>
    <servlet-name>SearchServlet2</servlet-name>
    <servlet-class>SearchServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet2</servlet-name>
    <url-pattern>/SearchServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EfilServlet</display-name>
    <servlet-name>EfilServlet</servlet-name>
    <servlet-class>EfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EfilServlet</servlet-name>
    <url-pattern>/EfilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CfilServlet</display-name>
    <servlet-name>CfilServlet</servlet-name>
    <servlet-class>CfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CfilServlet</servlet-name>
    <url-pattern>/CfilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/RedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AboutServlet</display-name>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>AboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/AboutServlet</url-pattern>
  </servlet-mapping>
</web-app>